<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:micro="http://micro.sicdesign.com"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="col-xs-10">
					<h1>Pesquisar Cliente</h1>
				</div>

				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/clientes/novo}"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Adicionar</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<form method="GET" th:object="${clienteFilter}"
				class="form-vertical  js-form-loading" th:action="@{/clientes}">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label for="nome">Nome</label> <input id="nome" type="text"
								class="form-control" th:field="*{nome}" autocomplete="off" />
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="apelido">Apelido</label> <input id="apelido"
								type="text" class="form-control" th:field="*{apelido}"
								autocomplete="off" />
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="nic">Código Cliente</label> <input id="nic"
								type="text" class="form-control" th:field="*{nic}"
								autocomplete="off" />
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group">
							<label for="nuit">Nuit</label> <input id="nuit" type="text"
								class="form-control" th:field="*{nuit}" autocomplete="off" />
						</div>
					</div>

				</div>


				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Pesquisar</button>
					<a href="" class="btn  btn-default">Limpar</a>

				</div>

			</form>
		</div>

		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-cervejas-col-nome">Código Cliente</th>
						<th class="table-cervejas-col-nome"><micro:order
								page="${pagina}" field="nome" text="Nome" /></th>
						<th class="table-cervejas-col-nome">Apelido</th>
						<th class="table-cervejas-col-nome">Tipo Pessoa</th>
						<th class="table-cervejas-col-nome">Nuit</th>

						<th class="table-cervejas-col-origem">Sexo</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="cliente: ${pagina.conteudo}">
						<td th:text="${cliente.nic}"></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.apelido}"></td>
						<td th:text="${cliente.tipoPessoa.descricao}"></td>
						<td th:text="${cliente.nuit}"></td>
						<td th:text="${cliente.sexo.descricao}"></td>


					</tr>
					<tr th:if="${#lists.isEmpty(pagina.conteudo)}">
						<td colspan="6">Nenhum cliente encontrado pelo filtro
							seleccionado</td>
					</tr>
				</tbody>
			</table>

			<micro:pagination page="${pagina}" />

		</div>

		<th:block
			th:replace="dialogo/PesquisaRapidaClientes :: pesquisaRapidaClientes"></th:block>



	</section>



</body>
</html>